# Import the necessary Python Libraries

In [2]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# establish connection
con = sqlite3.connect('MCU.db')

# create a cursor to interact with the database
cursor = con.cursor()

# Create the Table

In [5]:
# create a database table Movies with columns for title, release year, and review score
cursor.execute(''' CREATE TABLE Movies(
movie_id PRIMARY KEY,
title TEXT,
year INTEGER,
score REAL
)    
''')

OperationalError: table Movies already exists

In [ ]:
# verify to see if new table has been created
res = cursor.execute("SELECT name FROM sqlite_master")

res.fetchone()

# Insert data into Table

In [ ]:
# create a list of Marvel Cinematic Movies
Movies = [
    (1001, 'Iron Man', 2008, 7.9),
    (1002, 'The Incredible Hulk', 2008, 6.7),
    (1003, 'Iron Man 2', 2010, 7.0),
    (1004, 'Thor', 2011, 7.0),
    (1005, 'Captain America: The First Avenger', 2011, 6.9),
    (1006, 'The Avengers', 2012, 8.0),
    (1007, 'Iron Man 3', 2013, 7.2),
    (1008, 'Thor: The Dark World', 2013, 6.9),
    (1009, 'Captain America: The Winter Soldier', 2014, 7.7),
    (1010, 'Guardians of the Galaxy', 2014, 8.0),
    (1011, 'Avengers: Age of Ultron', 2015, 7.3),
    (1012, 'Ant-Man', 2015, 7.3),
    (1013, 'Captain America: Civil War', 2016, 7.8),
    (1014, 'Doctor Strange', 2016, 7.5),
    (1015, 'Guardians of the Galaxy Vol. 2', 2017, 7.6),
    (1016, 'Spider-Man: Homecoming', 2017, 7.4),
    (1017, 'Thor: Ragnarok', 2017, 7.9),
    (1018, 'Black Panther', 2018, 7.3),
    (1019, 'Avengers: Infinity War', 2018, 8.4),
    (1020, 'Ant-Man and The Wasp', 2018, 7.1),
    (1021, 'Captain Marvel', 2019, 6.9),
    (1022, 'Avengers: Endgame', 2019, 8.4),
]

cursor.executemany('INSERT INTO Movies VALUES (?,?,?,?)', Movies)

con.commit()

In [ ]:
# outputs the movie dataframe in a lsit format
res = cursor.execute('SELECT * FROM Movies')
res.fetchall()

In [ ]:
# reading the list of movies using pandas
# store SQL query in a variable called 'query'
query = 'SELECT * FROM Movies'
# stores the movie dataframe in a variable called 'df'
df = pd.read_sql(query, con)
df

# 'SELECT score FROM Movies'

In [ ]:
query = 'SELECT score FROM Movies'
pd.read_sql(query, con)

# 'SELECT year, title FROM MCU_Movies ORDER BY year'

In [ ]:
query = 'SELECT year, title FROM Movies ORDER BY year'
pd.read_sql(query, con)

# 'SELECT title, year FROM MCU_Movies ORDER BY score DESC'

In [ ]:
query = 'SELECT title, year FROM movies ORDER BY score DESC'
pd.read_sql(query, con)